<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <logo>../images/waevg.png</logo>
    <address>0002 San Pablo, Hagonoy Bulacan</address>
    <contact>+639778527307</contact>
    <email>evgalangdesign@gmail.com</email>
    <appointment>
        <location>Shangri-la</location>
        <location>SM Megamall</location>
        <location>SM North</location>
    </appointment>
</settings>
